<div>
    <ng-container *ngIf="action == 'ADDSUBMENU'" class="example-container">
        <h1 mat-dialog-title>Almenüpont hozzáadása</h1>
        <div mat-dialog-content>
            <mat-label>Mi legyen a almenüpont neve?</mat-label>
            <input matInput [(ngModel)]="data.name">
        </div>
    </ng-container>
    <ng-container *ngIf="action == 'ADDMENU'" class="example-container">
        <h1 mat-dialog-title>Menüpont hozzáadása</h1>
        <div mat-dialog-content>
            <mat-label>Mi legyen a menüpont neve?</mat-label>
            <input matInput>
        </div>
    </ng-container>
</div>
<div>
    <ng-container *ngIf="action == 'EDITSUBMENU'" class="example-container">
        <h1 mat-dialog-title>Almenüpont szerkesztése</h1>
        <div mat-dialog-content>
            <mat-label>Mi legyen a almenüpont neve?</mat-label>
            <!-- <input matInput [(ngModel)]="data.name"> -->
            <input matInput>
        </div>
    </ng-container>
    <ng-container *ngIf="action == 'EDITMENU'" class="example-container">
        <h1 mat-dialog-title>Menüpont szerkesztése</h1>
        <div mat-dialog-content>
            <mat-label>Mi legyen a menüpont neve?</mat-label>
            <input matInput>
        </div>
    </ng-container>
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="doAction()">Rendben</button>
    <button mat-raised-button color="warn" (click)="closeDialog()">Mégse</button>
</div>